* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: linear-gradient(rgba(32, 45, 54, 0.699), rgba(0, 0, 0, 0.77)), url(../Assets/12553749_4900647.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(rgba(59, 179, 129, 0.885), rgba(30, 129, 121, 0.879));
    margin: 150px auto 20px;
    padding: 40px 30px 10px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

.todo-app h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.input-data {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -5%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #ced0d3;
    padding-left: -2rem;
    margin-bottom: 25px;
    margin-right: 55px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.2rem 5rem;
    font-size: medium;
    font-weight: 400;
}

button {
    border: none;
    outline: none;
    padding: 16px;
    background: rgb(30, 127, 192);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    color: #ffffff;
}

ul li::before {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../Assets/icons8-unchecked-checkbox-48.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked {
    color: #9d894ee6;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../Assets/icons8-tick-box-48.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 32px;
    height: auto;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

ul li span:hover {
    color: #b41717;
    /* background-color: #bfc3cb; */
}